function arc-mount --wraps='arc mount -m ~/arcadia -S ~/store --allow-other' --description 'alias arc-mount=arc mount -m ~/arcadia -S ~/store --allow-other'
  arc mount -m ~/arcadia -S ~/store --allow-other $argv; 
end
