function arc-kick --wraps='arc add -A; arc commit --amend --no-edit -n; arc push -f' --description 'alias arc-kick=arc add -A; arc commit --amend --no-edit -n; arc push -f'
  arc add -A; arc commit --amend --no-edit -n; arc push -f $argv; 
end
